/*
 * Globals
 */
 /* Inicio body general de el idioma , slider y menu*/



/* Inicio de el slider header principal */
/* @fernando lozano */


#sectionGeneralP2{


    width: 100%;
    height:200px;
    /*border: 1px solid blue; */
}


#slider
{
    width: 100%;
    height:200px;
    margin:auto;
    overflow: hidden;
    
}


#slider ul 
{   
    display: flex;
    padding: 0px;
    width:400%;
    margin:auto;

    animation: cambio 20s infinite;
    animation-direction:alternate;
}


#slider li
{
    width:100%;
    list-style: none;

}

#slider img {

    width:100%;
    height: 200px;
    margin:auto;

}

@keyframes cambio{


    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}


    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}


    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}


/* fin del posicionamiento salider */


/* pagina desc affiche */

tr th{
background:#fff;
color:black;

}


/* pagina desc affiche */


/* Links */
a,
a:focus,
a:hover {
  color: white; /*#fff;*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: white; /*#333;*/
  text-shadow:blue; /*none; /* Prevent inheritence from `body` */
  background-color:white;    /* #fff;*/
  border: 1px solid  white;  /* #fff;*/
}


/*
 * Base structure
 */

html,
body {

  height: 100%;
  background-color:#333;
}


body {
  color:#fff;
  text-align: center;
  text-shadow:0 1px 3px rgba(0,0,0,.4);

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight:bold;
  color:#fff; /* IE8 proofing */
  color:rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color:transparent;
  border-bottom-color:#a9a9a9;
  border-bottom-color:rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color:#fff;
  border-bottom-color:#fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

}


/*
 * Cover
 */

.cover {
  padding: 0 15px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: blue; /*#999; /* IE8 proofing */
  color:rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



/********************************************************/





